<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %logger{1} [%t] %-5level - %msg%n" />
            <Filters>
                <!-- Accept WARN and higher -->
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>

        <!-- Info file appender -->
        <File name="InfoFile" fileName="logs/info.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %logger{1} %-5level - %msg%n" />
            <Filters>
                <!-- Accept INFO only-->
                <LevelRangeFilter minLevel="error" maxLevel="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <!-- Error file appender -->
        <File name="ErrorFile" fileName="logs/error.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %logger{1} %-5level - %msg%n" />
            <Filters>
                <!-- Accept WARN and higher -->
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <!-- Dedicated rounds file -->
        <File name="RoundsFile" fileName="logs/rounds.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %msg%n"/>
        </File>

        <!-- Dedicated games file -->
        <File name="GamesFile" fileName="logs/games.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %msg%n"/>
            <Filters>
                <!-- Accept ERROR and higher -->
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
    </Appenders>

    <Loggers>
        <!-- Dedicated logger for records -->
        <Logger name="recordsLogger" level="info" additivity="false">
            <AppenderRef ref="RoundsFile"/>
            <AppenderRef ref="GamesFile"/>
        </Logger>

        <!-- Root logger for normal app logging -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="InfoFile" />
            <AppenderRef ref="ErrorFile" />
        </Root>
    </Loggers>
</Configuration>